# --------------------------------------
# -- Join worker kubernetes node
# --------------------------------------Ã
- debug:
    var: join_command

- name: Join worker node
  shell: >
    {{ join_command }}
    creates=/etc/kubernetes/kubelet.conf

